---
layout: archive
title: "About Me"
excerpt: "About me"
permalink: /
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

{% include base_path %}

<p>Hi, my name is Tung Do. I am a Senior Humanoid Robotics Engineer at VinMotion. I received an M.S. in Electrical and Computer Engineering (Robotics) from the University of Michigan, Ann Arbor, in 2025, where I worked with Professor <a href="https://web.eecs.umich.edu/~ramv/" target="_blank">Ram Vasudevan</a> at the <a href="https://web.eecs.umich.edu/~roahm/" target="_blank">Robotics and Optimization for Analysis of Human Motion (ROAHM) Lab</a> and Professor <a href="https://web.eecs.umich.edu/~kskinner/" target="_blank">Katherine Skinner</a> at the <a href="https://web.eecs.umich.edu/~fieldrobotics/" target="_blank">University of Michigan Field Robotics Group</a>. My work focuses on hierarchical optimization, control, and reinforcement learning for humanoid robots.</p>

<h1>Professional</h1>
<ul class="professional-list">
  <li class="professional-item">
    <img class="professional-logo" src="/images/Vinmotion.png" alt="VinMotion logo">
    <span>Senior Humanoid Robotics Engineer, VinMotion</span>
  </li>
  <li class="professional-item">
    <img class="professional-logo" src="/images/frog-logo.png" alt="University of Michigan Field Robotics Group logo">
    <span>Graduate Research Assistant, University of Michigan Field Robotics Group</span>
  </li>
  <li class="professional-item">
    <img class="professional-logo" src="/images/ROAHMLAB_logo.webp" alt="ROAHM Lab logo">
    <span>Graduate Research Assistant, Robotics and Optimization for Analysis of Human Motion (ROAHM) Lab</span>
  </li>
  <li class="professional-item">
    <img class="professional-logo" src="/images/paccar-logo.png" alt="PACCAR logo">
    <span>Advanced Mobility Tech Engineering Intern, PACCAR</span>
  </li>
</ul>

<h1>Education</h1>
<ul class="edu-list">
  <li class="edu-item">
    <img class="edu-logo" src="/images/university-of-michigan-3.svg" alt="University of Michigan logo">
    <span>M.S. in Electrical and Computer Engineering (Robotics), University of Michigan, Ann Arbor, 2023 - 2025</span>
  </li>
  <li class="edu-item">
    <img class="edu-logo" src="/images/POMONA.png" alt="Cal Poly Pomona logo">
    <span>B.S. in Electromechanical Systems Engineering Technology, California State Polytechnic University, Pomona, 2018 - 2023</span>
  </li>
</ul>

<hr>

<h1>Publications and Projects</h1>

{% assign featured_publications = site.publications | sort: "date" | reverse %}
{% for post in featured_publications %}
  {% include archive-single-row.html %}
{% endfor %}

{% assign featured_projects = site.portfolio | sort: "date" | reverse %}
{% for post in featured_projects %}
  {% if post.title == "PACCAR Summer 2024 Internship" %}
    {% include archive-single-row.html %}
  {% endif %}
  {% if post.title == "Hexapod Robot for Multi-Terrain Exploration" %}
    {% include archive-single-row.html %}
  {% endif %}
  {% if post.title == "Bionic Arm" %}
    {% include archive-single-row.html %}
  {% endif %}
{% endfor %}
