---
layout: archive
title: "About Me"
excerpt: "About me"
permalink: /
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

{% include base_path %}

<p>Hi, my name is Tung Do. I am a Senior Humanoid Robotics Engineer at VinMotion. I received an M.S. in Electrical and Computer Engineering (Robotics) from the University of Michigan, Ann Arbor. My work focuses on hierarchical optimization, control and reinforcement learning for humanoid robot.</p>

<h1>Professional</h1>
<ul>
  <li>Senior Humanoid Robotics Engineer, VinMotion</li>
  <li>Graduate Research Assistant, University of Michigan Field Robotics Group</li>
  <li>Graduate Research Assistant, Robotics and Optimization for Analysis of Human Motion (ROAHM) Lab</li>
  <li>Advanced Mobility Tech Engineering Intern, PACCAR</li>
</ul>

<h1>Education</h1>
<ul>
  <li>M.S. in Electrical and Computer Engineering (Robotics), University of Michigan, Ann Arbor, 2023 - 2025</li>
  <li>B.S. in Electromechanical Systems Engineering Technology, California State Polytechnic University, Pomona, 2018 - 2023</li>
</ul>

<h1>Publications and Projects</h1>

{% assign featured_publications = site.publications | sort: "date" | reverse %}
{% for post in featured_publications %}
  {% include archive-single-row.html %}
{% endfor %}
