{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign publication_title_url = false %}
{% assign publication_project_url = false %}
{% if post.collection == 'portfolio' %}
  {% if post.publication_url %}
    {% if post.publication_url contains "://" %}
      {% assign publication_title_url = post.publication_url %}
    {% else %}
      {% assign publication_title_url = post.publication_url | prepend: base_path %}
    {% endif %}
  {% else %}
    {% assign publication_title_url = "/" | prepend: base_path %}
  {% endif %}
{% elsif post.title_url %}
  {% if post.title_url contains "://" %}
    {% assign publication_title_url = post.title_url %}
  {% else %}
    {% assign publication_title_url = post.title_url | prepend: base_path %}
  {% endif %}
{% elsif post.link %}
  {% assign publication_title_url = post.link %}
{% else %}
  {% assign publication_title_url = post.url | prepend: base_path %}
{% endif %}

{% if post.project_url %}
  {% if post.project_url contains "://" %}
    {% assign publication_project_url = post.project_url %}
  {% else %}
    {% assign publication_project_url = post.project_url | prepend: base_path %}
  {% endif %}
{% elsif post.collection == 'portfolio' %}
  {% assign publication_project_url = post.url | prepend: base_path %}
{% endif %}

<article class="publication-row" itemscope itemtype="http://schema.org/CreativeWork">
  {% if teaser %}
    <div class="publication-row__media">
      {% if publication_title_url %}
        <a href="{{ publication_title_url }}">
      {% endif %}
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% elsif teaser contains "/" %}
              "{{ teaser | prepend: base_path }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
      {% if publication_title_url %}
        </a>
      {% endif %}
    </div>
  {% endif %}

  <div class="publication-row__body">
    <h2 class="archive__item-title publication-row__title" itemprop="headline">
      {% if publication_title_url %}
        <a href="{{ publication_title_url }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h2>

    {% if post.authors_line and post.display_year %}
      <p class="publication-row__meta">{{ post.authors_line }} ({{ post.display_year }}).</p>
    {% elsif post.authors_line %}
      <p class="publication-row__meta">{{ post.authors_line }}</p>
    {% elsif post.collection == 'publications' %}
      <p class="publication-row__meta">Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
    {% elsif post.date %}
      <p class="publication-row__meta"><time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if post.submission_line %}
      <p class="publication-row__submission">{{ post.submission_line }}</p>
    {% endif %}

    {% unless post.compact_layout %}
      {% if post.excerpt %}
        <div class="archive__item-excerpt publication-row__excerpt" itemprop="description">
          {{ post.excerpt | markdownify }}
        </div>
      {% endif %}

      {% if post.citation and post.paperurl %}
        <p class="publication-row__links">Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
      {% elsif post.citation %}
        <p class="publication-row__links">Recommended citation: {{ post.citation }}</p>
      {% elsif post.paperurl %}
        <p class="publication-row__links">Download <a href="{{ post.paperurl }}"><u>here</u></a></p>
      {% endif %}
    {% endunless %}

    {% if publication_project_url %}
      <p class="publication-row__actions"><a href="{{ publication_project_url }}" class="btn btn--small">Project website</a></p>
    {% endif %}
  </div>
</article>
